.container {
    display: grid;
    grid-template-columns: 64% auto;
    grid-template-rows: auto;
}

.videos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(5, 100px);
}

/* New videos */
.newVideos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));
    grid-column: 1/-1;
    grid-row: 1/5;
    grid-gap: 34px;
    overflow-y: scroll;
}

.newVideoList {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 10px;
}

.player {
    display: flex;
}

.player figure {
    margin: 0;

    display: block;
}

.player figure img {
    width: 100px;
    height: 100px;
}

.line {
    height: 2px;
    background: rgb(57, 63, 71);
    width: 100%;
    grid-column: 1/2;
    grid-row: 5/6;
    align-self: center;
}


/* Random  */
.randomVideos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));
    grid-column: 1/2;
    grid-row: 7/9;
    grid-gap: 34px;



}

.randomVideosHeading {
    grid-row: 6/7;
    align-self: center;
}

.randomPlayer {
    display: flex;

}

.randomPlayer figure {
    margin: 0;
}

.randomPlayer figure img {
    width: 100px;
    height: 100px;

}

.randomVideosList {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 10px;
}

/* Spillelister  */

.playlists {
    padding: 20px;
    grid-column: 2/3;
}

.playlist {
    border: 1px solid;
    margin-top: 20px;

}

.playlistBox {
    display: inline-block;
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
}

.playlistBox figure {
    margin: 0;
    padding-left: 10px;
}

img {
    width: 70px;
}

/* bilde som er øverset får egen class */
img.first {
    width: 100px;
    padding-left: 20px;
}

.list {
    padding-left: 10px;
    padding-top: 5px;
}

.list h4,
.list p {
    margin: 0;

}