.student {
    display: grid;
    grid-template-columns: 64% auto;
    grid-template-rows: auto;
    grid-gap: 16px;
}

.subscriptions {
    grid-column: 1/2;
}

.newVideoHeading {
    grid-column: 1/2;
}


/* New videos */
.container {
    grid-column: 1/2;
}

.container .newVideos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    border: 1px solid white;

}

.container .newVideos .player {
    display: flex;
    padding: 10px;
}

.flex {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.flex span {
    padding-top: 5px;
}

.container .newVideos figure {
    margin: 0;
}

.container .newVideos figure img {
    width: 100px;
    height: 100px;
}



/* Playlist */
.playlists {
    grid-column: 2/3;
    grid-row: auto;
    justify-self: center;
}

.playlist {
    border: 1px solid white;
    padding: 20px;
}

.playlistBox {
    display: flex;
    margin-bottom: 20px;
}

.playlistBox figure {
    margin: 0;
}

.playlistBox figure img {
    height: 100%;
}

.playlistBox .list {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.playlistBox .list h4 {
    margin: 0;
}

/* Subscription */

.subscriptions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.subscriptionBox {}