.videos {
    display: grid;
    grid-template-columns: 5rem repeat(2, minmax(10rem, 1fr)) 5rem;
    grid-template-rows: min-content min-content min-content min-content;
}

.myVideos {
    grid-column: 2/span 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    grid-template-rows: -webkit-min-content auto;
    grid-template-rows: min-content auto;

    grid-gap: 1rem;
}

.myPlaylist {
    grid-column: 2/span 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: min-content auto;
    border-top: 1px solid white;
    padding: 1rem 0;
}

.myPlaylist h2 {
    grid-column: 1/ -1;
}

.playlistCreate {
    grid-column: 2/3;
    display: inline-block;
    text-align: center;
    margin: 1rem 0;
    cursor: pointer;
    text-decoration: none;
}


.playlistCover {

    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 9rem;
    cursor: pointer;
}

.playlistCover img {
    height: 100%;
    width: 100%;
    display: block;
}

.playlistInner {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

.addVideo {
    grid-column: 2/3;
    display: inline-block;
    text-align: center;
    margin: 1rem 0;
    cursor: pointer;
    text-decoration: none;
}

.myVideos h2 {
    padding-top: 2rem;
    grid-column: 1/-1;
}

a {
    color: white;
    padding: 1rem 0;
    background: rgb(244, 93, 34);
}

a:hover {
    background: rgb(197, 72, 23);
}

.cover {

    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 9rem;
    cursor: pointer;
}

.cover img {
    width: 100%;
    height: 100%;
    display: block;
}

.coverInner {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.coverInner h4 {
    margin: 0;
}

.coverInner span {
    padding-top: .5rem;
}