.formWrapper {
    display: grid;
    grid-template-columns: 5rem repeat(4, minmax(20rem, 1fr));
    grid-template-rows: min-content min-content;
}

h1 {
    grid-column: 2/-1;
}

form {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
}

label {
    padding-bottom: 5px;
}

input {
    margin-bottom: 20px;
}

textarea {
    margin-bottom: 20px;
}
