.editVideo {
    width: 500px;
    margin-top: 50px;
}

.editVideo form {
    display: flex;
    flex-direction: column;
}

form+input {
    width: 235px;
}


label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 15px;
}

input[type="submit"] {
    padding: 10px;
    width: 200px;
    background: rgb(244, 93, 34);
    border: none;
    color: #fff;
}

textarea {
    margin-bottom: 15px;
}

img {
    width: 180px;
}