form {
    width: 650px;
    max-width: 90%;
    text-align: left;
    margin: 0 auto;
    display: inline-block;
    background-color: rgb(47, 51, 54);
    border-radius: 10px;
    padding: 1rem;
}

input[type='text'],
textarea {
    width: 96%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border-radius: 5px;
    border: none;
    background: #f1f1f1;
}

input[type='email'],
input[type='password'] {
    width: 95%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus {
    background-color: white;
    outline: none;
}

label[for="video"] {
    padding-top: 1rem;
}

input[type="file"] {
    padding-bottom: 1rem;
}


.userName {
    display: inline-block;
    padding-right: 6rem;

    width: 40%;
}

.fullName {
    display: inline-block;
    width: 40%;
}

label {
    display: block;
}

.userType {
    float: left;
    padding: 0 2rem;
}

input[type='submit'] {
    background-color: rgb(244, 93, 34);
    color: white;
    padding: 16px 20px;
    margin: 20px 0 0 65px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 75%;
    opacity: 0.9;
}

input[type='submit']:disabled {
    background-color: rgb(97, 62, 48);
    cursor: initial;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* table in create playlist form  */

.submit {
    text-align: center;
    margin-top: 1rem;
}

#createPlaylistDesc {
    margin-bottom: 1rem;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table td,
table th {
    border: 1px solid;
    padding: 8px;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(244, 93, 34);
    color: white;
}

.thumbnail {
    width: 20%;
}

/* */
td img {
    width: 40%;
}

img {
    width: 15%;
}

.addVideo {
    display: flex;
}