/*.videoWrapper{
    border: 2px solid white;
    width: 40%;
    padding: 1rem;
    margin: 0rem 2rem 2rem 0rem;
    display: inline-block;
}*/

a {
    color: white;
    padding: 1rem 4rem;
    background: rgb(244, 93, 34);
    text-decoration: none;
    cursor: pointer;
}

.addVideo {
    margin-top: 2rem;
}

.placeWrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.videoWrapper {
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    cursor: pointer;
}


.myVideosInfo {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

img {
    max-width: 50%;
    height: auto;
    width: auto\9;
}

span {
    padding-bottom: 1rem;
}