.myPlaylist {
    margin-left: 50px;
}

.playlist {
    display: flex;
    margin-bottom: 20px;
    max-width: 500px;
}

.playlist img {
    max-width: 50%;
    height: auto;
    width: auto\9;
}

.list {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.list h4 {
    margin: 0;
}

a {
    display: inline-block;
    color: white;
    padding: 15px 20px;
    background: rgb(244, 93, 34);
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    background: rgb(197, 72, 23);

}