.wrapper {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
}

.placeWrapper {
    grid-column: 2/-1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

a {
    display: inline-block;
    margin: 20px 0px 0px 50px;
    color: white;
    padding: 15px 20px;
    background: rgb(244, 93, 34);
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    background: rgb(197, 72, 23);

}