.rate {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.rate input {
  display: none;
}

.rate label {
  display: block;
  position: relative;
  cursor: pointer;
  width: 50px;

}

.rate label:before {
  content: "\f005";
  font-family: fontAwesome;
  position: relative;
  display: block;
  font-size: 50px;
  color: #fff;
}

.rate label:after {
  content: "\f005";
  font-family: fontAwesome;
  position: absolute;
  display: block;
  font-size: 50px;
  color: rgb(240, 240, 20);
  top: 0;
  z-index: 10;
  opacity: 0;
  transition: 0.2s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

.rate label:hover:after,
.rate label:hover~label:after,
.rate input:checked~label:after {
  opacity: 1;
}



.openVideo {
  display: grid;
  grid-template-columns: 60% auto;
}

h2 {
  grid-column: 1/-1;
  grid-row: 1/2;
}

video-module {
  grid-column: 1/-1;
  grid-row: 2/3;
}

.videoInfo {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
}

.videoInfo span {
  margin-left: 20px;
  padding-right: 20px;
  border-right: 1px solid white;
}

#rate {
  margin: 30px 0;
}

#rateVideo {
  border: none;
  margin-top: 10px;
  padding: 10px 20px;
  background: rgb(244, 93, 34);
  color: #fff;
}

#comment {
  grid-column: 1/-1;

}

#comment label {
  display: block;
}

#sendComment {
  border: none;
  padding: 4px 10px;
  background: rgb(244, 93, 34);
  color: #fff;
}

.comment {
  grid-column: 1/2;
  background: #192735;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
}

.comment h4 {
  text-transform: capitalize;
}

.comment p {
  font-size: 15px;
}

button.show {
  grid-column: 1/2;
  width: 170px;
  padding: 8px;
  background: rgb(244, 93, 34);
  border: none;
  color: #fff;
  margin-bottom: 20px;
}

button.changeVideo {
  width: 170px;
  padding: 8px;
  background: rgb(244, 93, 34);
  border: none;
  color: #fff;
}