.playlistWrapper {
  display: flex;
  flex-direction: column;
}

.videoBox {
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
}

.videoBox img {
  width: 50%;
  height: 50%;
  display: block;

}

.videoBox .inner {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.edit {
  border: none;
  cursor: pointer;
  color: white;
  padding: 16px 20px;
  margin-left: 5px;
  width: 75%;
  background: rgb(244, 93, 34);
  border-radius: 5px;
  align-self: center;
}

.edit:hover {
  background: rgb(197, 72, 23);
}