:host {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: min-content;
}

.videoControls {
  height: 54px;
  grid-row: 2/3;
  grid-column: 1/-1;
}

.videoControls p {
  margin: 0;
}

.videoControls button {
  border: none;
  padding: 5px 15px;
  cursor: pointer;
}

.videoControls button:hover {
  background: rgb(176, 176, 176);
}

.videoInfo {}

.cueTitle {
  position: sticky;
  height: 50px;
  width: 100%;
  top: 0rem;
  left: 0;
  background-color: rgb(21, 32, 43);
  text-align: center;
}

.cues {
  grid-row: 1/2;
  grid-column: 2/3;
  height: 25rem;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

#cueHolder li {
  cursor: pointer;
}

#cueHolder li:hover {
  background-color: rgba(0, 0, 0, .2)
}