/* Twitter element color*/

/* element color ( buttons links....) rgb(244, 93, 34)*/
/* input color  rgb(21, 32, 43);*/

/* base color : (36,52,71)*/

#outlet {
  margin-left: 5rem;
}

.app {
  display: grid;
  grid-template-columns: 180px 1fr;
  height: 100vh;
  color: #fff;
  background: rgb(21, 32, 43);
  grid-gap: 20px;
}


.sidebar {
  border-right: 1px solid rgb(57, 63, 71);
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
  width: 16rem;
}

.sidebarContainer {
  width: 100%;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: sticky;
  top: 0;
}

.sidebar a {
  color: #fff;
  font-size: 20px;
  font-weight: 100;
}

.videoSearch {
  margin-bottom: auto;
  padding: 8px 0 8px 15px;
  border: none;
  background: rgb(41, 59, 82);
  color: #fff;
  width: 10rem;
}

::placeholder {
  color: rgb(121, 127, 134);
  font-size: 12px;
}

.videoSearch:focus {
  outline: none;
  border: 1px solid rgb(244, 93, 34);
}

.searchButton {
  border: none;
  cursor: pointer;
  color: white;
  height: 30px;
  margin-left: 5px;
  background: rgb(244, 93, 34);
  border-radius: 5px;
}

.searchButton:hover {
  background: rgb(197, 72, 23);
}

.sidebar a {
  text-decoration: none;
  margin-bottom: 30px;
}

.sidebar a:nth-child(1) {
  margin: 50px 0 20px 0;
  color: rgb(244, 93, 34);
}

.sidebar a:nth-child(3) {
  margin-bottom: 30px;
}

.sidebar a:nth-child(4) {
  margin-bottom: 100px;
}

.sideBarContent {
  display: inline-grid;
}

.logout {
  position: absolute;
  bottom: 50px;
}

.loginAndRegister {
  position: absolute;
  bottom: 50px;
  display: inline-grid;
}

a:hover {
  text-decoration: underline;
}