:host {
  padding-top: 1rem;
}

.sidebarContainer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: sticky;
  top: 0;
}

a {
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.spilleliste {
  margin-bottom: 30px;
}

.mySubs {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

.mySubs a {
  font-size: 16px;
  margin-top: 7px;
}

.sideBarContent {
  display: inline-grid;
}